@using MobWeb.Modelo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

@{ 
    var usuario = Session["UsuarioLogin"] as UsuarioLogin;
}

@if (usuario != null)
{
    @Html.ActionLink("Sair", "Logout", "Home");
}

<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">MobWeb</h1>
        <h2 class="text-center">CRUD - .NET MVC 5 </h2>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("li").addClass('active');
            $("#liClientes").removeClass('active');
        });
    </script>
}
